@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueLTPro";
  font-weight: 300;
  src: url("../fonts/HelveticaNeueLTProLtIt.ttf");
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  font-weight: 300;
  src: url("../fonts/HelveticaNeueLTProLt.ttf");
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  font-weight: 400;
  src: url("../fonts/HelveticaNeueLTProRoman.ttf");
}

@font-face {
  font-family: "HelveticaNeueLTPro";
  font-weight: 600;
  src: url("../fonts/HelveticaNeueLTProMd.ttf");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Merriweather-LightItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

button {
  cursor: pointer;
  display: block;
  border: none;
  font-family: inherit;
}

input:focus, button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: "HelveticaNeueLTPro";
  font-weight: 400;
  transition: all .1s linear;
}

body.modalActive {
  overflow: hidden;
}

body.modalActive .page-content {
  opacity: 0.2;
}

body.modalActive:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container.standard {
  max-width: 1198px;
}

.container.small {
  max-width: 1198px;
}

.container.c-header {
  max-width: 651px;
}

.container.c-about {
  max-width: 934px;
}

.container.c-contact {
  max-width: 770px;
}

.header {
  min-height: 59rem;
}

@media (max-width: 565px) {
  .header {
    min-height: 47rem;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__intro {
  text-align: center;
  padding-top: 46.56%;
}

.header-nav__left, .header-nav__right {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex: 0 0 37%;
}

.header-nav__left li.active .header-nav__btn, .header-nav__right li.active .header-nav__btn {
  color: #010101;
}

@media (max-width: 565px) {
  .header-nav__left, .header-nav__right {
    display: none;
  }
}

.header-nav__btn {
  color: #989696;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.52px;
}

.header-nav__logo {
  flex: 0 0 10%;
  text-align: center;
  min-width: 55px;
  line-height: 54px;
  background-color: #121212;
  color: white;
  font-size: 35px;
  pointer-events: none;
}

.header-intro__title {
  color: #1d1e1f;
  font-family: "Helvetica Neue LT Pro";
  font-size: 2.75rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.88px;
}

@media (max-width: 565px) {
  .header-intro__title {
    letter-spacing: 0.88px;
    margin-bottom: 15px;
  }
}

.header-intro__subtitle {
  color: #898888;
  font-family: "Merriweather";
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.48px;
  margin-bottom: 43px;
}

@media (max-width: 565px) {
  .header-intro__subtitle {
    padding: 0 50px;
  }
}

.header-intro__video {
  width: 11.75rem;
  height: 3.5625rem;
  border: 1px solid #000000;
  margin: 0 auto;
  color: #000000;
  font-family: "Montserrat";
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.52px;
  overflow: hidden;
  position: relative;
  z-index: 25;
  transition: color .2s linear;
}

@media (min-width: 769px) {
  .header-intro__video:hover {
    color: white;
  }
  .header-intro__video:hover:before {
    top: 0;
  }
}

.header-intro__video:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all .15s linear;
  z-index: -1;
}

.burgermenu {
  display: none;
}

@media (max-width: 565px) {
  .burgermenu {
    display: block;
    width: 54px;
    height: 54px;
    padding: 7px 2px;
  }
  .burgermenu__block {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .burgermenu__line {
    display: block;
    width: 100%;
    height: 7px;
    background-color: black;
  }
}

.menu {
  width: 100%;
  height: 100%;
  padding-left: 15%;
  padding-top: 55px;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  background-color: #1d1d1d;
  transition: all .4s linear;
}

.menu__list {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.menu__list li a {
  font-size: 30px;
  line-height: 1.5;
}

.menu__logo {
  display: inline-block;
  padding: 0 7px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 35px;
  margin-bottom: 35px;
}

.menu__exit {
  position: absolute;
  top: 0;
  right: 0;
}

.menu.active {
  left: 0;
}

.cross {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  width: 45px;
  height: 45px;
  line-height: 42px;
  text-align: center;
  font-size: 30px;
}

.video {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.video.active {
  display: flex;
  -webkit-animation: appear 1s ease-in-out .2s 1 forwards;
          animation: appear 1s ease-in-out .2s 1 forwards;
}

.video__frame {
  max-width: 800px;
  width: 100%;
  margin: 0 40px;
}

.video__window {
  padding-top: 55%;
  position: relative;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.youtube {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube__exit {
  position: absolute;
  top: -1.5em;
  font-size: 40px;
  right: 0;
  width: auto;
}

.youtube .play {
  background: url("../img/youtube-play-btn.png") no-repeat;
  /*ВАЖНО: здесь укажите адрес до изображения*/
  background-position: 0 -50px;
  background-size: 100% auto;
  position: absolute;
  height: 50px;
  width: 69px;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all .2s linear;
}

.youtube .play:hover {
  box-shadow: inset 10px 10px 20px 20px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  min-height: 1332px;
  padding: 151px 0 300px;
  background-color: #1d1d1d;
  position: relative;
}

.about:before {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: #fff;
}

.about__item {
  width: 100%;
  position: relative;
  margin-bottom: 22px;
}

@media (min-width: 566px) {
  .about__item:nth-child(2n) .about-item__content {
    margin-left: auto;
    text-align: left;
  }
}

@media (max-width: 565px) {
  .about__item {
    z-index: 3;
    background-color: #1d1d1d;
    padding: 30px;
  }
}

.about__item:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1d1d1d;
  z-index: 3;
}

@media (max-width: 565px) {
  .about__item:after {
    display: none;
  }
}

.about__buildings {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: url(../img/Buildings.png) no-repeat center bottom;
  background-size: cover;
  background-position-y: 200px;
  overflow: hidden;
  transition: background .5s ease-out;
}

.about.animation .about__buildings {
  background-position-y: inherit;
}

.about-item__content {
  max-width: 43%;
  width: 100%;
  text-align: right;
}

@media (max-width: 565px) {
  .about-item__content {
    max-width: 100%;
    text-align: center;
  }
}

.about-item__year {
  color: #fefefe;
  font-family: "Helvetica Neue LT Pro";
  font-size: 48px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.96px;
  margin-bottom: 27px;
}

@media (max-width: 565px) {
  .about-item__year:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    margin-top: 20px;
  }
}

.about-item__event {
  color: #b7b7b7;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.3px;
}

@media (min-width: 566px) {
  .abit-big {
    margin: 112px 0 98px;
  }
  .abit-big:after {
    width: 46px;
    height: 46px;
  }
}

.team {
  min-height: 643px;
}

.team__header {
  margin-bottom: 154px;
}

.team__inner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1003px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__item {
  flex: 0 0 200px;
}

@media (min-width: 667px) {
  .team__item:nth-child(2n+1) {
    padding-top: 90px;
  }
}

@media (max-width: 666px) {
  .team__header {
    margin-bottom: 100px;
  }
  .team__inner {
    flex-direction: column;
  }
  .team__item {
    flex: 0 0 300px;
    margin-bottom: 30px;
  }
}

.team-header__title {
  margin-top: 82px;
  color: #1d1e1f;
}

.team-header__subtitle {
  color: #898888;
}

.team-item__photo {
  margin: 0 auto 22px;
  border-radius: 50%;
  overflow: hidden;
  max-width: 169px;
  max-height: 169px;
}

.team-item__photo img {
  width: 100%;
  height: 100%;
  display: block;
}

.team-item__name {
  font-family: "Helvetica Neue LT Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.0833333;
  letter-spacing: 0.48px;
}

.team-item__proff {
  color: #b3b3b3;
  font-family: "Helvetica Neue LT Pro";
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.26px;
}

@media (max-width: 666px) {
  .team-item__photo {
    max-width: 200px;
    max-height: 200px;
  }
  .team-item__name {
    font-size: 28px;
  }
  .team-item__proff {
    font-size: 17px;
  }
}

.section-head__title {
  font-family: "Helvetica Neue LT Pro";
  font-size: 34px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.68px;
  margin-bottom: 8px;
}

.section-head__subtitle {
  font-family: "Merriweather";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.32px;
}

.services {
  width: 100%;
  min-height: 1664px;
  position: relative;
  overflow: hidden;
  padding: 244px 0 203px;
}

@media (max-width: 768px) {
  .services {
    min-height: 1390px;
  }
}

@media (max-width: 414px) {
  .services {
    padding-top: 183px;
  }
}

.services__header {
  position: relative;
  z-index: 5;
  margin-bottom: 218px;
}

@media (max-width: 414px) {
  .services__header {
    margin-bottom: 170px;
  }
}

.services:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #181818;
  -webkit-clip-path: polygon(0% 10.5%, 100% 0%, 100% 89.5%, 0% 100%);
          clip-path: polygon(0% 10.5%, 100% 0%, 100% 89.5%, 0% 100%);
}

@media (max-width: 1000px) {
  .services:before {
    -webkit-clip-path: polygon(0% 5.5%, 100% 0%, 100% 94.5%, 0% 100%);
            clip-path: polygon(0% 5.5%, 100% 0%, 100% 94.5%, 0% 100%);
  }
}

@media (max-width: 565px) {
  .services:before {
    -webkit-clip-path: polygon(0% 2.5%, 100% 0%, 100% 97.5%, 0% 100%);
            clip-path: polygon(0% 2.5%, 100% 0%, 100% 97.5%, 0% 100%);
  }
}

.services:after {
  content: "";
  display: block;
  max-width: 1000px;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: -200px;
  left: 50%;
  z-index: 3;
  background: url(../img/services/background-text.png) no-repeat center top;
  background-size: cover;
  transform: translateX(-50%);
}

@media (max-width: 744px) {
  .services:after {
    bottom: -400px;
  }
}

.services-header__title {
  color: #ffffff;
}

.services-header__subtitle {
  color: #777777;
}

@media (max-width: 414px) {
  .services-header__title {
    font-size: 25px;
  }
  .services-header__subtitle {
    font-size: 11px;
  }
}

.services__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 437px;
}

@media (max-width: 1094px) {
  .services__content {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .services__content {
    margin-bottom: 180px;
  }
}

.services__item {
  max-width: 355px;
  width: 100%;
  margin-bottom: 50px;
  padding: 0 10px;
}

.services-item__image {
  width: 172px;
  height: 172px;
  border: 6px solid #ffffff;
  margin: 0 auto 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.services-item__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.services-item__name {
  color: #ffffff;
  font-family: "Helvetica Neue LT Pro";
  font-size: 26px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.52px;
  margin-bottom: 31px;
}

.services-item__text {
  color: #6b6a6a;
  font-family: "Helvetica Neue LT Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.36px;
}

.c-index {
  position: relative;
  z-index: 5;
}

.services__visit-btn {
  display: block;
  width: 13.5625rem;
  height: 4rem;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow .4s linear .6s;
}

@media (min-width: 769px) {
  .services__visit-btn:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
  }
  .services__visit-btn:hover .btn-line {
    transform: translateX(0);
  }
  .services__visit-btn:hover .btn-text {
    color: white;
  }
}

.btn-text {
  color: #000000;
  font-family: "Helvetica Neue LT Pro";
  font-size: 1rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  transition: color .3s linear .4s;
}

.btn-line {
  position: relative;
  z-index: 6;
  display: block;
  width: 100%;
  height: 33.33333%;
  background-color: black;
}

.btn-line:nth-child(2n+1) {
  transform: translateX(100%);
  transition: transform .3s linear .1s;
}

.btn-line:nth-child(2) {
  transform: translateX(-100%);
  transition: transform .3s linear .4s;
}

.startPage {
  display: none;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 999;
  background-color: #1d1d1d;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.startPage-arrow {
  display: block;
  width: 15px;
  height: 25px;
  background-color: white;
  -webkit-clip-path: polygon(0 10px, 7.5px 0px, 15px 10px, 10px 10px, 10px 25px, 5px 25px, 5px 10px);
          clip-path: polygon(0 10px, 7.5px 0px, 15px 10px, 10px 10px, 10px 25px, 5px 25px, 5px 10px);
  transform: scale(1.6);
}

.startPage.show-arrow {
  display: flex;
  -webkit-animation: appear 1s ease-in-out .2s 1 forwards;
          animation: appear 1s ease-in-out .2s 1 forwards;
}

.contact {
  padding-top: 95px;
  min-height: 1240px;
}

.contact__header {
  margin-bottom: 64px;
}

.contact__form {
  width: 100%;
}

.our-contact {
  max-width: 558px;
  margin: 0 auto 153px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.our-contact__item {
  margin-bottom: 30px;
}

.our-contact__icon {
  margin: 0 auto 12px;
  width: 21px;
}

.our-contact__icon img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-contact__connection {
  color: #898888;
  font-family: "Helvetica Neue LT Pro";
  font-size: 14px;
  font-weight: 300;
  line-height: 2.16666;
  letter-spacing: 0.24px;
}

@media (max-width: 414px) {
  .our-contact {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.contact-form__inp, .contact-form__button {
  width: 100%;
  margin-bottom: 21px;
}

.contact-form__inp, .contact-form__button {
  height: 52px;
}

.contact-form__inp {
  border: 1px solid #999999;
  padding: 0 5%;
  color: black;
  font-size: 18px;
}

.contact-form__inp:focus {
  outline: none;
  border-width: 2px;
}

.contact-form__inp::-moz-placeholder {
  color: #898888;
  font-family: "Helvetica Neue LT Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.3px;
}

.contact-form__inp:-ms-input-placeholder {
  color: #898888;
  font-family: "Helvetica Neue LT Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.3px;
}

.contact-form__inp::placeholder {
  color: #898888;
  font-family: "Helvetica Neue LT Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.3px;
}

.contact-form__message {
  min-height: 195px;
  padding: 15px 2% 0;
  font-family: inherit;
}

.contact-form__message::-moz-placeholder {
  text-align: left;
}

.contact-form__message:-ms-input-placeholder {
  text-align: left;
}

.contact-form__message::placeholder {
  text-align: left;
}

.contact-form__button {
  cursor: pointer;
  background-color: #161616;
  border: none;
  color: #fefefe;
  font-family: "Helvetica Neue LT Pro";
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.34px;
}

.footer__copy div {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: #3b3b3b;
  line-height: 1.857;
  text-align: center;
}

.footer__nick {
  color: #0e1b36;
  text-decoration: underline;
  cursor: pointer;
}

.webp .youtube .play{ background: url(../img/youtube-play-btn.webp) no-repeat; }

.webp .about__buildings{ background: url(../img/Buildings.webp) no-repeat center bottom; }

.webp .services:after{ background: url(../img/services/background-text.webp) no-repeat center top; }
